.PeoplePage {
    background: white;
    height: 100%;
    width: 100%;
}

.PeoplePage-content {
    padding: 20px;
}

.person{
	border-bottom: 1px solid black;
}

.PeoplePage-action {
	background: rgb(255, 255, 255);
	font-size: 25px;
  	line-height: 50px;
  	width: 100%;
  	text-align: center;
}